.body-container{
    display: flex;
    width: 100%;
    background-color: #F6F5F2;
    justify-content: space-between;

}
/* body */

/* 
.leftHome-container{
    flex: 3;
} */

/* listMenu & shortcutMenu*/
.topLeft{

    /* display: flex; */
    /* flex: 4; */
    border-bottom: 2px solid lightslategray;
}

.topLeft ul li{
    padding: 15px 10px;
    display: flex;
    align-items: center;
    cursor: pointer;

}

.topLeft ul li span{
    color: #616161;
    margin-left: 5px;
    font-weight: 700;
    font-size: var(--size-l);
}

 /* .botLeft{
    flex: 4;
} */

.botLeft div{
    margin-left: 15px;
    margin-top: 10px;   
} 

.botLeft .btn-seeMore, .topLeft .btn-seeMore {
    width: 80%;
    border: none; 
    background-color: lightgray;
    padding: 5px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    cursor: pointer;
    border-radius: 5px;
    margin-bottom: 10px;
}


/* Bottom left */ 
.botLeft .List-page .image{
width: 50px;
height: 50px;
object-fit: cover;
border-radius: 8px;
}

.botLeft .List-page li {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

.botLeft .List-page span{
    color: #616161;
    margin-left: 5px;
    font-weight: 700;
    font-size: var(--size-l);
}

/* New */
/* 
.story-container{
  display: flex;
  justify-content: center;
}

.story-card {
  position: relative;
  margin: 20px 0px 20px -50px;
  width: 190px;
  height: 254px;
  border-radius: 30px;
  background: #e0e0e0;
  box-shadow: 15px 15px 30px #bebebe,
              -15px -15px 30px #ffffff;
}

.story-avt{
  position: absolute;
  bottom: 10px;
  left: 10px;
}

.news-card {
  position: relative;
  width: 45em;
  height: 50em;
  box-shadow: 0px 1px 13px rgba(0,0,0,0.1);
  cursor: pointer;
  transition: all 120ms;
  /* display: flex;
  align-items: center; */
  /* justify-content: center;
  background: #fff;
  padding: 0.5em;
  padding-bottom: 5em;
} */

/* .news-description{
  margin: 8px 0px 0px 5px;
}

.news-card .news-information div {
  margin: 2.5px 0px 0px 5px;
}

.news-card .news-information{
  display: flex;
  margin: 10px;

}

.news-card .news-reac {

  display: flex;
  justify-content: space-around;
  color: #000;
}

.text {
  max-width: 55px;
} */

/* .image {
  background: rgb(241, 241, 241);
  width: 100%;
  height: 95%;
  display: grid;
  place-items: center;
} */ 
