.newfeed-container{
    width: 40%;
}

.stories-container{
    position: relative;
    display: flex;
    overflow-x: hidden;
}

.stories{
    display: flex;
    flex-wrap: nowrap;
}

.stories div:nth-of-type(even) {
    margin: 0 20px;
}

.story-box ::before {
    content: "";
    background-color:black;
    z-index: 100;
    width: 100%;
    height: 100%;
}

.scroll-btn{
    position: absolute;
    top :50%;
    color: rgb(177, 177, 177);
    padding: 0px 10px 0 20px;
    cursor: pointer;
    z-index: 50;
}

.left{
    left: 0;
}

.right{
    right: 0;
}

/* postStatus */
.postStatus-container{
    margin-top: 25px;
    background-color: rgb(190, 190, 190);
    border-radius: 7px;
    padding: 10px;
}

.postInput{
    display: flex;
}

.input{
    margin-left: 15px;
    width: 100%;
    border-radius: 10px;
    outline: none;
    border: 1px solid lightgrey;
    padding: 8px;
    font-size: 15px;
}

.postExtension{
    display: flex;
    justify-content: space-around;
    padding: 15px;
}

.icon{
    display: flex;
    align-items: center;
}

.icon span{
    font-weight: bold;
}

/* newfeed */
.newfeed-card{
    background-color: rgb(190, 190, 190);
    border-radius: 7px;
    margin: 15px 0px;

}


.info-user{
    display: flex;
    justify-content: space-between;

    padding: 10px 10px 5px 10px;
}

.info-user .left{
    display: flex;
    cursor: pointer;
}

.info-user .right{
    cursor: pointer;
    
}

.info-box{
    margin-left: 5px;
    justify-content: center;
}

.name-user {
    font-weight: 700;
}

.name-user .description {
    font-weight: normal;
    cursor: default;
}

.newfeed-image{
    display: block; 
    width: 100%; 
    height: auto; 
}

.picture{
    max-width: 100%;  
    overflow: hidden;
    margin: 10px 0;
}

.news-reac {
    border-top: 1px solid rgb(54, 54, 54);
    display: flex;
    justify-content: space-around;
    color: #000;
    cursor: pointer;
}

.button{
    display: flex;
    align-items: center;

}

.reac-information div {
    margin: 2.5px 0px 0px 5px;
  }
  
.reac-information{
    display: flex;
    align-items: center;
  
}

.news-content{
    margin-left: 10px;
}

.view-more:hover {
    text-decoration: underline;
  }
  
.view-more{
    cursor: pointer;
}

.news-box_list-comment{
    margin: 15px 0;
}
.news-box_list-comment .view-more{
    font-weight: bold;
    cursor: pointer;
}

.news-box_list-comment  .user-comment{
    display: flex;
    align-items: center;
    margin-top: 10px;
    margin-left: 10px;
}

.news-box_list-comment  .user-comment .comment{
    background-color: rgb(85, 85, 85);
    color: white;
    padding: 5px;
    border-radius: 5px;
    margin-left: 10px;
}

.news-box_list-comment  .user-comment .comment p:nth-of-type(1) {
    font-weight: bold;
}

.news-box_list-comment .input-comment{
    display: flex;
    align-items: center;
    margin-top: 15px;
}

.news-box_list-comment .input-comment .user-input{
    position: relative;
    width: 100%;
    margin-left: 10px;
}

.news-box_list-comment .input-comment .user-input .input{
    width: 93%;
    height: 30px;
    border-radius: 5px;
    padding: 5px;
    font-size: 14px;
    border: 1px solid lightgray;
    outline: none;
    margin-bottom: 5px;
} 

.news-box_list-comment .input-comment .user-input .icon{
    position: absolute;
    top: 8px;
    right: 5%;
    cursor: pointer;
}

.avt-cmt{
    margin-left: 10px;
}